<div class="depot_form">
  <%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2> <%= raw t('errors.template.header', count: user.errors.count, model: t('activerecord.models.user')) %></h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2>Enter User Details</h2>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <% if @user.new_record? %>
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
    <% else %>
      <div class="field">
        <span><b>Email: </b></span>
        <span><%= user.email %></span>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, size: 40 %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field( 
          :password_confirmation,
        id: :user_password_confirmation,
        size: 40
      )%>
    </div>

    <div class="field">
      <%= form.label :role %>
      <%= form.text_field :role %>
    </div>

    <h3>Enter User's Address Details</h3>
    <%= form.fields_for :address, @user.address do |address_form| %>
      <div class="field">
        <%= address_form.label :state %>
        <%= address_form.text_field :state %>
      </div>

      <div class="field">
        <%= address_form.label :city %>
        <%= address_form.text_field :city %>
      </div>

      <div class="field">
        <%= address_form.label :country %>
        <%= address_form.text_field :country %>
      </div>

      <div class="field">
        <%= address_form.label :pincode %>
        <%= address_form.number_field :pincode %>
      </div>
    <% end %>
    <br></br>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

