<p style="color: green"><%= notice %></p>

<%= render @add_quantity_to_line_item %>

<div>
  <%= link_to "Edit this add quantity to line item", edit_add_quantity_to_line_item_path(@add_quantity_to_line_item) %> |
  <%= link_to "Back to add quantity to line items", add_quantity_to_line_items_path %>

  <%= button_to "Destroy this add quantity to line item", @add_quantity_to_line_item, method: :delete %>
</div>
