<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product. title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <div class="image-container">
    <% product.images.each do |image| %>
      <%= image_tag (image), width: '250', height: '250' %>
    <% end %>
  </div>
  <br></br>

</div>
